.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-field {
  display: flex;
  justify-content: center;
}

.field {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: lightgray;
  font-size: 20px;

}

